<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script>
    $(document).ready(function() {
      if (window.location.search && window.location.search.indexOf('logic') !== -1) {
        $('html, body').animate({
          scrollTop: $("h3:contains('Checks')").offset().top - 50
        });
      }

      $('.toc li').each(function($li) {
        var title = $(this).text();
        this.addEventListener('click', function() {
          $('html, body').animate({
            scrollTop: $("h3:contains('" + title + "')").offset().top - 50
          });
        });
      });

      $('#logicPicker').change(function() {
        var selectedLogic = $(this).children('option:selected').val();
        $('.checks-table').each(function() {
          if ((new RegExp(selectedLogic + '$').test($(this).attr('id')))) {
            $(this).removeClass('d-none');
          } else {
            $(this).addClass('d-none');
          }
        });
      });
    });
  </script>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container info-box shadow doc-container">
    <ul class="toc">
      <li>The Logic</li>
      <li>Items</li>
      <li>Checks</li>
      <li>Things NOT in logic</li>
      <li>New Stuff (must read for new players)</li>
    </ul>

    <h3>The Logic</h3>
    <p>When talking about CV2 Randomizer, as well as any other randomizers, we often refer to "the logic". The logic refers the order in which items are randomized in the game such that you're never stuck in an impossible situation from which you can't progress. For example, holy water would never be in a location that requires holy water to reach it. The logic ensures that every time you generate a randomized version of the game that it is possible to complete. That doesn't mean the logic will be kind! It may make you backtrack and take on extremely hard challenges at times, but if you can endure the pain of a tough seed, there's always light at the end of the tunnel.</p>

    <h3>Items</h3>
    <p>Pretty much every item in the game is randomized. All Dracula parts, weapons, silk bag, magic cross, laurels, garlic, oak stakes, crystals, and even whip upgrades are mixed throughout the various checks in the game. Consumable items like laurels and garlic actually appear in multiple checks. The accompanying table shows each item and the number of checks it will occupy in the game.</p>
    <table class="table table-striped table-secondary">
      <thead class="thead-dark">
        <tr>
          <th style="width:24px"></th>
          <th>item</th>
          <th>count</th>
          <th>notes</ht>
        </tr>
      </thead>
      <tbody>
        <% items.forEach(function(item) { %>
        <tr>
          <td class="item" style="background-color:#000; vertical-align:middle;">
            <img src="<%= item.image %>" style="<%= ['crystals','whips'].includes(item.name) ? 'max-height: 48px;' : '' %>">
          </td>
          <td style="width: 20%"><%= item.name %></td>
          <td style="width: 5%; text-align: center;"><%= item.count %></td>
          <td style="width: auto"><%= item.notes %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Checks</h3>
  	<p>The items in the randomizer can be retrieved, purchased, or battled for from the following "checks". The term "check" refers to any person, place, or thing from which you can get a randomized item. The complete list of all checks and their location can be found below, along with a list of the items that are required to be able to reach the check at that location.</p>

    <span style="font-weight:bold;">Logic:</span>&nbsp;&nbsp;<select id="logicPicker">
      <% logic.forEach(function(lt) { %>
      <option value="<%= lt %>" <%= lt === reqLogic ? 'selected' : '' %>><%= lt %></option>
      <% }); %>
    </select>
    <br><br>

    <% logic.forEach(function(lt) { %>
    <table id="checks-table-<%= lt %>" class="checks-table table table-striped table-secondary <%= lt === reqLogic ? '' : 'd-none' %>">
  		<thead class="thead-dark">
  			<tr>
          <th style="width:24px"></th>
  				<th>check</th>
          <th>location</th>
          <th>requirements</th>
  			</tr>
  		</thead>
  		<tbody id="checksBody">
        <% checks.forEach(function(check) { %>
        <tr>
          <td class="actor"><img src="<%= check.image %>"></td>
          <td><%= check.actor %></td>
          <td><%= check.location %></td>
          <td class="requirements">
            <% var reqs = check.requirements[lt];
               var lastReq = {};
               reqs.forEach(function(req, index) {
                 if (req.image !== null) { %>
            <img src="<%= req.image %>" title="<%= req.name %>" alt="<%= req.name %>" style="<%= ['(','OR'].includes(lastReq.name) ? 'padding-left:2px;' : '' %>">
            <%   } else if (req.name === ')') { %>
            <span style="color:#fff;font-weight:bold;padding-left:2px;"><%= req.name %></span>
            <%   } else if (req.name === '(') { %>
              <span style="color:#fff;font-weight:bold;padding-left:<%= lastReq.name ===
              '(' ? 2 : 12 %>px;"><%= req.name %></span>
            <%   } else if (req.name === 'OR') { %>
              <span style="color:#fff;font-weight:bold;padding-left:2px;"><%= req.name %></span>
            <%
                 }
                 lastReq = req;
               });
            %>
          </td>
        </tr>
        <% }); %>
        <tr>
          <td colspan="4" style="background-color:#fff">Beating Dracula ends the game, so he <b>DOES NOT</b> hold any items. For the sake of completeness, though, here's the requirements to reach the Lord of the Undead himself.</td>
        </tr>
        <tr>
          <td class="actor"><img src="/img/sprites/dracula.png"></td>
          <td>Dracula</td>
          <td>Castlevania - Dracula Fight</td>
          <td class="requirements">
            <img src="/img/sprites/red-crystal.png" title="red crystal" alt="red crystal">
            <img src="/img/sprites/rib.png" title="rib" alt="rib">
            <img src="/img/sprites/heart.png" title="heart" alt="heart">
            <img src="/img/sprites/eyeball.png" title="eyeball" alt="eyeball">
            <img src="/img/sprites/nail.png" title="nail" alt="nail">
            <img src="/img/sprites/ring.png" title="ring" alt="ring">
            <img src="/img/sprites/magic-cross.png" title="magic cross" alt="magic cross">
          </td>
        </tr>
  		</tbody>
    </table>
    <% });   %>

    <h3>New Stuff (must read for new players)</h3>
    <table class="table table-striped table-secondary">
      <thead class="thead-dark">
        <tr>
          <th>name</th>
          <th>description</th>
          <th>how to do it</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width:20%"><b>Jovah Warp</b><br>AKA Up+A</td>
          <td style="width:60%">Teleports you back to your original starting point in Jovah from any location in the game. This can be used if you get stuck in a particularly tough situation you can't seem to escape, to speed up routing, or to compensate for any logic errors I may have made.</td>
          <td style="width:20%">Press <b>SELECT</b> to pause the game, then press <b>UP+A+B</b> simultaneously</td>
        </tr>
        <tr>
            <td style="width:20%"><b>Inventory Deselect</td>
            <td style="width:60%">In vanilla Simon's Quest, you can't deselect items in your inventory. This allows you to deselect quest items (Dracula parts and crystals). This is critical in one particular case. If the one and only quest item you've found is Dracula's heart and you've selected it, you can never get the ferry man at Dead River to take you anywhere other than Brahm's Mansion until you find another quest item. With inventory deselect you can avoid this and get him to take you to Alba as well.</td>
            <td style="width:20%">Press <b>START</b> to open your inventory, activate the cursor hovering over your quest items (Dracula parts and crystals), then press <b>B</b>.</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>
